
.ant-layout{
  background-color: #0A0221;

}
.ant-layout-header {
  height: 230px;
  padding: 15px;
  line-height: 16px;
  background-color: #0A0221;

}
.ant-modal-footer {
  display: none;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  background-color: #141031;
  color: #ddd;
  border-bottom: 0;
}
.ant-table-tbody > tr > td {
  background-color: #0A0221;
}
.ant-table-placeholder {
  background-color: #0A0221;;
  border: 0;
  .ant-empty-description {
    color: #fff;
  }
}
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background-color: #141031;
}
.ant-table-tbody{
  font-family: SimSun !important;
}
.ant-modal-content {
  padding: 0 80px;
  .ant-modal-header {
    border: 0;
    padding-bottom: 0;
    .title {
      text-align: center;
      .title_icon {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        .name {
          margin-left: 10px;
          vertical-align: middle;
          font-size: 24px;
        }
        .icon {
          height: 26px;
        }
      }
      .title_name {
        line-height: 40px;
        font-size: 20px;
      }
    }
  }
}
