@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingsuanxinxi:before {
  content: "\e661";
}

.icon-lingquguanggao:before {
  content: "\e7e2";
}

.icon-jiantou:before {
  content: "\e637";
}

.icon-zhongyingwen2zhongwen:before {
  content: "\e645";
}

.icon-zhongyingwenyingwen02-01:before {
  content: "\e673";
}

.icon-caozuozhinan:before {
  content: "\e61d";
}

.icon-caiyouduo_renzhengshuoming-renzhengziliao:before {
  content: "\e67b";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-quxiao:before {
  content: "\e672";
}

.icon-Dollar-circle-fill:before {
  content: "\ec00";
}

.icon-iconset0219:before {
  content: "\e676";
}

.icon-qian:before {
  content: "\e604";
}

.icon--wakuangjiankong:before {
  content: "\e60f";
}

.icon-xiaofangzhanzongliangbeijing:before {
  content: "\e631";
}

.icon-qianbao:before {
  content: "\e829";
}

.icon-ganggan:before {
  content: "\e658";
}

